.card-container {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #282C34;
    box-shadow: inset -5px -5px 5px 0px rgba(22, 24, 29, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

.card-container:hover {
    background-color: #21252b;
    box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.6);
    border: none;
    animation: zoom .3s ease-in-out;
    animation-fill-mode: forwards;
}

.card-thumb {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 100%;
    max-width: 220px;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00C5A5;
    color: white;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    width: 25%;
    text-decoration: none;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.75);
}

.card-footer-container:hover {
    cursor: pointer;
    background-color: #009980;
}

.item-footer {
    margin-left: 5px;
}

@keyframes zoom {
    0% { 
        transform: scale(1) rotate(0);
    }
    50% { 
        transform: scale(1.1) rotate(5deg);
    }
    100% { 
        transform: scale(1) rotate(0);
    }
}

@media screen and (max-width: 1445px) {
    .card-container {
        width: 250px;
        height: 350px;
    }

    .footer-container {
        width: 40%;
    }
}