.toolbar-container {
    width: 200px;
}

.toolbar-content {
    width: 150px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}