.about-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 100px;
    background-image: linear-gradient(to bottom, rgba(40, 44, 52, 0.3), rgba(37, 41, 48, 0.3), rgba(34, 37, 45, 0.3), rgba(31, 34, 41, 0.5), rgba(28, 31, 38, 0.7), rgba(28, 31, 38, 0.7), rgba(28, 31, 38, 0.7), rgba(28, 31, 38, 0.7), rgba(31, 34, 41, 0.7), rgba(34, 37, 45, 0.3), rgba(37, 41, 48, 0.3), rgba(40, 44, 52, 0.3));
    padding-top: 200px;
}

.about-about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px 0 0;
}

.about-title {
    text-align: end;
    font-size: 2rem;
    color: #61DAFB;
}

.about-text {
    width: 30vw;
    color: #d8dde4;
}

.about-text p {
    text-align: justify;
}

.about-contact-container {
    text-align: end;
    display: flex;
    flex-direction: column;
}

.about-contact-container a, p {
    color: white;
    text-decoration: none;
}

.about-contact-icons-item {
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 10px;
}

.gmail {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.about-custom-vertical-pipe {
    width: 4px;
    background-image: linear-gradient(to top, #7cbf8a, #439a8b, #2e747c, #304e5d, #282c34);
    height: 100%;
    margin-right: 20px;
}

.about-custom-horizontal-pipe {
    height: 4px;
    background-image: linear-gradient(to left, #7cbf8a, #439a8b, #2e747c, #304e5d, #282c34);
    width: 100%;
    margin-top: 20px;
}

.about-education-img {
    width: 400px;
    height: 400px;
}

.about-background {
    margin-top: 20px;
}

.about-education {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-education-content {
    margin: 10px 20px 10px 0;
    padding: 10px 50px 0 0;
    min-width: 1000px;
    text-align: end;
}

.about-education-content h3 {
    font-weight: 400;
    margin-bottom: 0;
}

.about-education-content p {
    color: #d8dde4;
    margin-top: 0;
}


.about-education:nth-child(1) .about-education-content {
    border-right: 4px solid #7cbf8a;
}

.about-education:nth-child(2) .about-education-content {
    border-right: 4px solid #439a8b;
}

.about-education:nth-child(3) .about-education-content {
    border-right: 4px solid #2e747c;
}

.about-education:nth-child(4) .about-education-content {
    border-right: 4px solid #304e5d;
}

.about-education-title {
    width: 400px;
    font-size: 2rem;
    color: #61DAFB;
}

@media screen and (max-width: 1515px) {
    .about-education-img {
        width: 300px;
        height: 300px;
    }

    .about-education-title {
        width: 300px;
        font-size: 2rem;
        color: #61DAFB;
    }

    .about-education-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .about-education-text {
        width: 50%;
        text-align: end;
    }
}

@media screen and (max-width: 970px) {
    .about-education-img {
        width: 300px;
        height: 300px;
    }

    .about-education-title {
        width: 300px;
        font-size: 2rem;
        color: #61DAFB;
    }

    .about-education-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .about-education-text {
        width: 40%;
        text-align: end;
    }
}

@media screen and (max-width: 860px) {
    .about-container {
        align-items: center;
        padding-right: 0;
        margin-top: 100px;
    }

    .about-about-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-content { 
        align-items: flex-start;
        padding: 10px 0 0 0;
    }

    .about-text {
        width: 70vw;
    }

    .about-contact-container {
        text-align: start;
    }

    .gmail {
        justify-content: flex-start;
    }

    .about-custom-vertical-pipe {
        display: none;
    }
    
    .about-custom-horizontal-pipe {
        display: none;
    }

    .about-background {
        margin-top: 50px;
    }

    .about-education { 
        flex-direction: column-reverse;
    }

    .about-education-content {
        width: 80vw;
        align-items: flex-start;
        min-width: 60vw;
        padding-left: 20px;
    }

    .about-education-text {
        width: 100%;
        text-align: start;
    }

    .about-education:nth-child(1) .about-education-content {
        border-right: 0px solid #7cbf8a;
        border-top: 4px solid #7cbf8a;
    }
    
    .about-education:nth-child(2) .about-education-content {
        border-right: 0px solid #439a8b;
        border-top: 4px solid #439a8b;
    }
    
    .about-education:nth-child(3) .about-education-content {
        border-right: 0px solid #2e747c;
        border-top: 4px solid #2e747c;
    }
    
    .about-education:nth-child(4) .about-education-content {
        border-right: 0px solid #304e5d;
        border-top: 4px solid #304e5d;
    }

    .about-education-title {
        width: 85vw;
    }
}