.toolbar-item-container {
    margin-bottom: 10px;
    padding: 10px 0 10px 25px;
    color: rgba(169, 175, 188, 0.5);
    border-bottom: 1px solid rgba(111, 122, 144, 0.2);
    width: 100%;
    font-size: 18px;
}

.toolbar-item-container:hover {
    color: rgba(0, 204, 163, 1);
    border-bottom: 1px solid rgba(111, 122, 144, 0.7);
    cursor: pointer;
}

.toolbar-item-active {
    color: rgba(0, 204, 163, 1);
    border-bottom: 1px solid rgba(111, 122, 144, 0.7);
    animation: onHandleActiveItem 0.3s ease-out;
}

@keyframes onHandleActiveItem {
    0% {
        opacity: 0.5;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}